<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @passenger.name %></h1>
    <p>
      You have successfully signed up to Flight Booker.<br>
    </p>
    <p>
      To book another flight, just follow this link: <%= link_to "Book Again", @url %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
